.background-wrapper {
  height: 305px;
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1px;
  margin-bottom: 135px;
  text-align: center;
}
