.catalog {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 35px;
}

.catalog__item {
  margin-bottom: 25px;
}

.catalog__wrapper {
  width: 140px;
  margin-left: auto;
}

.catalog__link {
  text-decoration: none;
}

.catalog__card-title {
  width: 75px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 18px;
}

.catalog__table {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 23px;
}

.catalog__btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    margin: 0 auto;
  }

  .catalog__container {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 254px;
    padding: 40px 35px;
    margin: 30px;
    background-color: #f2f2f2;
  }

  .catalog__wrapper {
    width: auto;
    margin: 0;
  }

  .catalog__card-title {
    width: 125px;
    padding-top: 165px;
    font-size: 20px;
  }

  .catalog__table {
    font-size: 16px;
    border-collapse: collapse;
  }

  .catalog__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__table td:last-child {
    text-align: right;
    padding: 8px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1300px;
    margin: 0 auto;
  }

  .catalog__item {
    width: 175px;
    margin: 40px;
  }
}
