.choose-program {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 22px;
  text-align: center;
}

.choose-program__title {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.choose-program__text {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.choose-program__btn {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .choose-program {
    padding: 0;
    padding-bottom: 506px;
    padding-left: 118px;
    margin-bottom: 20px;
    text-align: left;
  }

  .choose-program__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .choose-program__text {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }

  .choose-program__title,
  .choose-program__text {
    width: 427px;
    color: #111111;
    text-align: left;
  }

  .choose-program__product {
    position: absolute;
    width: 709px;
    height: auto;
    bottom: -20px;
    right: 30px;
    z-index: -1;
  }

  .choose-program__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .choose-program {
    width: 1220px;
    padding: 0;
    margin-top: 113px;
    margin-bottom: 267px;
  }

  .choose-program__product {
    width: 552px;
    height: auto;
    right: 218px;
    top: -81px;
  }

  .choose-program__title,
  .choose-program__text,
  .choose-program__btn {
    margin-left: 80px;
  }

  .choose-program__text {
    margin-bottom: 52px;
  }
}
