.comparison {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.comparison__range {
  position: relative;
  margin-top: 5px;
  width: 84px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 50px;
  background-color: #ffffff;
}

.comparison__toggle::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 50px;
  background-color: #68b738;
  transform: translateY(-50%);
}

.comparison__btn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .comparison {
    width: 575px;
  }

  .comparison__btn {
    position: relative;
    font-size: 20px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
      transition: all, 0.3s;
    }

    &:hover::after {
      border-bottom-style: solid;
    }

    &:active::after {
      display: none;
    }
  }

  .comparison__range {
    width: 100%;
    height: 6px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #dcdcdc;
  }

  .comparison__toggle {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    transition: all, 0.3s;

    &::after {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: auto;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .comparison {
    margin-left: 668px;
    margin-top: 42px;
  }
}
