.main-nav {
  width: auto;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__logo-wrapper {
  height: 67px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.main-nav__logo-image {
  width: 191px;
  height: 65px;
  transition: all, 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-top: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #111111;
  box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 8px;
    width: 24px;
    height: 2px;
    background-color: #111111;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
    padding-top: 24px;
    margin: 0 auto;
    margin-bottom: 58px;
    border: 0;
  }

  .main-nav__logo-wrapper {
    display: block;
    width: 180px;
    height: 58px;
    margin-right: 62px;
    padding: 0;
    border: 0;
  }

  .main-nav__logo-image {
    width: 192px;
    height: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 498px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    max-width: 1220px;
    padding: 0 40px;
    padding-top: 52px;
    margin-bottom: 77px;
  }

  .main-nav__logo-wrapper {
    width: 202px;
  }

  .main-nav__logo-image {
    width: 210px;
  }

  .main-nav__list {
    width: 511px;
    margin-left: auto;
  }
}
