.products-more {
  position: relative;
  text-align: center;
  padding-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: -20px;
    bottom: 0;
    height: 1px;
    background-color: #ededed;
    width: calc(100% + 40px);
  }
}

.products-more__icon {
  opacity: 0.2;
  margin-bottom: 25px;
}

.products-more__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
}

.products-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 22px;
}

.products-more__btn {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .products-more {
    order: 1;
    width: 250px;
    height: 432px;
    padding: 0 36px;
    padding-bottom: 3px;
    margin-top: 160px;
    border: 1px solid #e6e6e6;

    &::after {
      display: none;
    }
  }

  .products-more__icon {
    width: 60px;
    height: 60px;
    margin: 50px 0;
  }

  .products-more__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .products-more__text {
    font-size: 16px;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .products-more {
    width: 169px;
    margin: 40  px;
  }
}
