.programs {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programs__item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.programs__illustration {
  position: absolute;
  top: 23px;
  left: 23px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}

.programs__icon {
  position: absolute;
}

.programs__icon--slim {
  left: 8px;
}

.programs__icon--pro {
  top: 11px;
  left: -10px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  padding-left: 72px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 30px;
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;
}

.programs__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  transition: all, 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -52px;
    transform: translateY(-50%);
    width: 62px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all, 0.3s;
  }

  &:hover {
    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 15px;
  }

  .programs__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .programs__item {
    min-height: 230px;
    padding-top: 68px;
    padding-bottom: 58px;
    padding-left: 52px;
    padding-right: 280px;
    margin-bottom: 30px;
  }

  .programs__icon--slim {
    width: 69%;
    height: 100%;
    left: 31px;
    bottom: 13px;
  }

  .programs__icon--pro {
    width: 133%;
    height: 100%;
    top: -1px;
    left: -34px;
  }

  .programs__illustration {
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 24px;
    padding: 0;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    border: none;

    &--gain {
      width: 340px;
    }
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      background-image: url("../img/icon-right-arrow-long.svg");
      right: -66px;
      top: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1300px;
    padding: 0;
    margin-bottom: 42px;
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .programs__title {
    padding-left: 162px;
    margin-bottom: 74px;
  }

  .programs__description {
    min-width: 465px;
    margin-bottom: 10px;
  }

  .programs__item {
    width: 464px;
    padding: 0 53px;
    padding-top: 67px;
    padding-bottom: 58px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .programs__illustration {
    top: 48px;
    left: 54px;
    width: 100px;
    height: 100px;
  }

  .programs__icon--slim {
    left: 14px;
    top: -9px;
  }

  .programs__icon--pro {
    left: -19px;
  }
}
