.result__list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.result__item {
  width: 122px;
  height: 43px;
  text-align: center;
  padding-top: 11px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.result__info {
  width: 82px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.result__total {
  color: #111111;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-top: 6px;
}

.result__total-price {
  color: #111111;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 34px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .result__list {
    max-width: 366px;
    width: 100%;
    margin-bottom: 22px;
  }

  .result__item {
    width: 160px;
    height: 56px;
    padding-top: 14px;
  }

  .result__info {
    width: 115px;
    background-color: #ffffff;

    &--time {
      width: 142px;
    }
  }

  .result__total {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 9px;
  }

  .result__text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 11px;
  }

  .result__total-price {
    width: 192px;
    align-self: flex-start;
    text-align: right;
    font-size: 20px;
    margin-top: 11px;
  }

  .result__spend {
    display: block;
    margin-bottom: 9px;
  }
}


@media (min-width: $desktop-width) {
  .result {
    flex-direction: column;
    align-items: flex-start;
  }

  .result__list {
    margin-bottom: 50px;
  }

  .result__info {
    background-color: #f2f2f2;
  }

  .result__total-price {
    width: 328px;
    display: flex;
    justify-content: space-between;
  }
}
