@media (min-width: $tablet-width) {
  .slider {
    min-height: 632px;
    background-image: linear-gradient(to bottom, #ffffff 169px, transparent 169px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }
}

.slider__slides {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $desktop-width) {
  .slider {
    min-height: 624px;
    background-image: linear-gradient(to bottom, #ffffff 190px, transparent 190px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slider__slides {
    margin: 0;
  }
}
