@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.button {
  display: inline-block; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header--viewing {
  position: relative; }
  .page-header--viewing::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 305px;
    background-color: #65a93c;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header--viewing::after {
    background-image: url("../img/index-background-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .page-header--viewing::after {
    display: none; } }

@media (min-width: 1300px) {
  .page-header--viewing::after {
    display: block;
    background-image: url("../img/index-background-desktop@1x.jpg");
    top: 0;
    right: 0;
    width: 50%;
    height: 696px; } }

@media (min-width: 1300px) and (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .page-header--viewing::after {
    background-image: url("../img/index-background-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .page-header--viewing .site-list__link {
    color: #ffffff; }
  .page-header--viewing .site-list__link::after {
    background-color: #ffffff; } }

.main-nav {
  width: auto; }

.main-nav__logo-wrapper {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px; }

.main-nav__logo-image {
  width: 192px;
  height: 65px; }
  .main-nav__logo-image:hover {
    opacity: 0.8; }
  .main-nav__logo-image:active {
    opacity: 0.6; }

.main-nav__toggle {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #111111;
  -webkit-box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111;
          box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111; }

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #111111; }

.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; } }

.main-nav--nojs .main-nav__toggle {
  display: none; }

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 92%;
    padding: 0 30px;
    padding-top: 32px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .main-nav__logo-wrapper {
    display: block;
    width: 173px;
    height: 58px;
    margin-right: 93px;
    padding: 0; }
  .main-nav__logo-image {
    width: 192px;
    height: auto; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    width: 516px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 1300px) {
  .main-nav {
    max-width: 94%;
    padding: 0 40px;
    padding-top: 66px;
    margin-bottom: 98px; }
  .main-nav__logo-wrapper {
    width: 202px;
    margin-right: 520px; }
  .main-nav__logo-image {
    width: 210px; }
  .main-nav__list {
    width: 610px; } }

.choose-program {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 22px;
  text-align: center; }

.choose-program__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 19px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff; }

.choose-program__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase; }

.choose-program__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738; }

@media (min-width: 768px) {
  .choose-program {
    max-width: 520px;
    padding-bottom: 506px;
    margin-left: 90px;
    text-align: left; }
  .choose-program__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px; }
  .choose-program__text {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px; }
  .choose-program__title,
  .choose-program__text {
    color: #111111;
    text-align: left; }
  .choose-program__product {
    position: absolute;
    bottom: 100px;
    right: 0;
    z-index: -1; }
  .choose-program__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    width: auto; } }

@media (min-width: 1300px) {
  .choose-program {
    width: 1220px;
    margin-bottom: 271px; }
  .choose-program__product {
    left: 70%;
    top: -60px; }
  .choose-program__btn {
    margin: 0; } }

.programs {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto; }

.programs__list {
  padding: 0;
  list-style: none; }

.programs__item {
  position: relative;
  padding: 22px 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2; }

.programs__illustration {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%; }

.programs__icon {
  position: absolute; }

.programs__icon--slim {
  left: 7px; }

.programs__icon--pro {
  top: 10px;
  left: -12px; }

.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  padding-left: 70px;
  margin: 0;
  margin-bottom: 35px; }

.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px; }

.programs__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111; }
  .programs__link::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 60px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: center; }

@media (min-width: 768px) {
  .programs {
    width: 708px;
    padding: 0 30px; }
  .programs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .programs__item {
    min-height: 230px;
    padding-top: 82px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 280px;
    margin-bottom: 30px; }
  .programs__icon--slim {
    width: 69%;
    height: 100%;
    left: 22px;
    bottom: 13px; }
  .programs__icon--pro {
    width: 133%;
    height: 100%;
    right: -22px; }
  .programs__illustration {
    right: 65px;
    bottom: 80px;
    width: 200px;
    height: 200px; }
  .programs__title {
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 24px;
    padding: 0; }
  .programs__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    border: none; }
  .programs__link {
    font-size: 20px;
    line-height: 20px; }
    .programs__link::after {
      background-image: url("../img/icon-icon-right-arrow-long.svg"); } }

@media (min-width: 1300px) {
  .programs {
    width: 1220px;
    padding: 0 40px;
    margin-bottom: 73px; }
  .programs__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .programs__title {
    padding-left: 158px;
    margin-bottom: 71px; }
  .programs__description {
    min-width: 465px;
    margin-bottom: 30px; }
  .programs__item {
    padding-top: 77px;
    padding-bottom: 62px;
    padding-left: 52px;
    padding-right: 52px;
    margin: 0 40px; }
  .programs__illustration {
    top: 48px;
    left: 48px;
    width: 100px;
    height: 100px; }
  .programs__icon--slim {
    left: 16px;
    top: -7px; }
  .programs__icon--pro {
    right: -10px; } }

.advantages {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto; }

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 0;
  margin-bottom: 40px; }

.advantages__list {
  counter-reset: section;
  padding: 0;
  margin: 0;
  list-style: none; }

.advantages__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 20px; }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px; }
  .advantages__item--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png"); }
  .advantages__item--powder::before {
    background-image: url("../img/advantage-powder@1x.png"); }
  .advantages__item--dining::before {
    background-image: url("../img/advantage-dining@1x.png"); }
  .advantages__item--clock::before {
    background-image: url("../img/advantage-clock@1x.png"); }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item--leaf::before {
    background-image: url("../img/advantage-leaf@2x.png"); }
  .advantages__item--powder::before {
    background-image: url("../img/advantage-powder@2x.png"); }
  .advantages__item--dining::before {
    background-image: url("../img/advantage-dining@2x.png"); }
  .advantages__item--clock::before {
    background-image: url("../img/advantage-clock@2x.png"); } }

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0; }

@media (min-width: 768px) {
  .advantages {
    width: 708px;
    padding: 0 30px;
    margin: 0; }
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 190px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__description {
    width: 250px;
    font-size: 16px;
    line-height: 24px; }
  .advantages__item {
    width: 324px;
    min-height: 230px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 80px; }
    .advantages__item::before {
      width: 80px;
      height: 80px;
      top: -120px; }
    .advantages__item::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      top: -150px;
      left: 120px;
      z-index: -1;
      font-family: "Oswald", Arial, sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2; } }

@media (min-width: 1300px) {
  .advantages {
    width: 1300px; }
  .advantages__title {
    margin-left: 40px; }
  .advantages__item {
    width: 245px;
    margin: 30px;
    padding: 0; } }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px; }

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 24px;
  list-style: none;
  border-bottom: 1px solid #d9d9d9; }

.page-footer__copyright {
  padding: 22px 0; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__logo,
  .page-footer__social {
    border: none; }
  .page-footer__logo {
    margin-right: 150px; }
    .page-footer__logo:hover {
      opacity: 0.8; }
    .page-footer__logo:active {
      opacity: 0.6; }
  .page-footer__social {
    margin-right: 130px; } }

@media (min-width: 1300px) {
  .page-footer__logo {
    margin-right: 400px; }
  .page-footer__social {
    margin-right: 380px; } }

.catalog {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto; }

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 35px; }

.catalog__item {
  margin-bottom: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed; }

.catalog__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catalog__image {
  width: 140px;
  height: 144px; }

.catalog__wrapper {
  width: 140px;
  margin-left: auto; }

.catalog__link {
  text-decoration: none; }

.catalog__card-title {
  width: 75px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 18px; }

.catalog__table {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 23px; }

.catalog__btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738; }

@media (min-width: 768px) {
  .catalog {
    width: 768px;
    margin: 0 auto; }
  .catalog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__item {
    width: 254px;
    padding: 40px 35px;
    margin: 30px;
    background-image: linear-gradient(to bottom, #fff, #fff 82px, #f2f2f2 82px, #f2f2f2); }
  .catalog__layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog__image {
    width: 324px;
    height: auto;
    margin-bottom: 55px; }
  .catalog__wrapper {
    width: auto;
    margin: 0; }
  .catalog__card-title {
    width: 159px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px; }
  .catalog__table {
    font-size: 16px;
    border-collapse: collapse;
    margin-bottom: 33px; }
  .catalog__row {
    border-bottom: 1px solid #cdcdcd; }
  .catalog__table td:last-child {
    text-align: right;
    padding: 8px 0; } }

@media (min-width: 1300px) {
  .catalog {
    width: 1300px;
    margin: 0 auto; }
  .catalog__item {
    width: 175px;
    margin: 40px; } }

.products-more {
  text-align: center; }

.products-more__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px; }

.products-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 22px; }

.products-more__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .products-more {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 248px;
    padding: 40px 36px;
    margin: 30px;
    border: 1px solid #e6e6e6; }
  .products-more__title {
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 125px; }
  .products-more__text {
    font-size: 16px;
    margin-bottom: 85px; } }

@media (min-width: 1300px) {
  .products-more {
    width: 169px;
    margin: 40  px; } }

.site-list__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px 25px;
  color: #111111;
  border-top: 1px solid #e6e6e6;
  text-transform: uppercase;
  text-decoration: none; }

.site-list__link:not(.site-list__link--active):hover {
  opacity: 0.6; }

@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin: 0;
    padding: 10px 15px;
    border: none; }
    .site-list__link--active {
      position: relative; }
      .site-list__link--active::after {
        content: "";
        position: absolute;
        right: 20px;
        left: 20px;
        bottom: 0;
        height: 2px;
        background-color: #68b738; } }

@media (min-width: 1300px) {
  .site-list__link {
    font-size: 20px;
    padding: 10px 16px; } }

.social-list__item {
  width: 55px;
  text-align: center; }

.social-list__icon {
  fill: #666666; }
  .social-list__icon:hover {
    fill: #68b738; }
  .social-list__icon:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .social-list__icon--vk {
    width: 31px;
    height: 19px; }
  .social-list__icon--insta {
    width: 23px;
    height: 23px; }
  .social-list__icon--fb {
    width: 14px;
    height: 28px;
    margin-top: -5px;
    margin-left: -14px; } }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }
  .copyright__link:hover .copyright__htmlacademy {
    fill: #68b738; }
  .copyright__link:active {
    opacity: 0.3; }

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444; }

.copyright__htmlacademy {
  fill: #666666; }
  .copyright__htmlacademy:active {
    opacity: 0.3; }

/*# sourceMappingURL=style.css.map */
